@import url(read.css);
@import url(mathjax.css);
@import url(matter.css);

/* generic */

body {
	font-family: 'RobotoSlab', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #2e2e2e;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	position: static;
	overflow: auto;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

pre {
	white-space: pre-wrap;
}

nobr,
.nobr {
	white-space:nowrap;
}

strong .label {
	font-weight: bold;
}

span.u {
	text-decoration: underline;
}

[role="chapter"] > h1 > [role="label"],
.chapter > h1 > .label {
	display: block;
}

.hidden {
	display: none;
}

.table-wrapper {
	font-size: 0.8rem;
	width: 100%;
	word-break: break-all;
}

/* cover */

#cover {
	text-align: center;
	margin: .5em;
}
#cover img {
	max-width: 100%;
	display: block;
	margin: .5em auto;
}

/* aside/endnote/footnote css */

aside[role="endnote"],
p[role="endnote"] {
	display: block;
}
aside[role="footnote"],
p[role="endnote"] {
	display: block;
}

.aside.endnote,
p.endnote {
	display: block;
}
.aside.footnote,
p.endnote {
	display: block;
}

/* indexing / toc */

[role="toc"] ul,
[role="toc"] ol,
#toc ul,
#toc ol,
.toc ul,
.toc ol {
	list-style: none;
	list-style-type: none;
}
[role="toc"] ol li,
[role="toc"] ul li,
#toc ul li,
#toc ol li,
.toc ul li,
.toc ol li {
	list-style-type: none;
}

/* mathjax */

.MathJax img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.MathJax_Display img.thumb {
	display: block;
	margin: 5px auto;
	padding: 0 5px;
}

img.thumb {
	vertical-align: bottom;
	vertical-align: text-bottom;
	display: inline;
}

