/* Titlepage */

[role="titlepage"],
.titlepage {
	margin-top: 3em;
	text-align: center;
}

[role="titlepage"] .tp-author,
.titlepage .tp-author {
	font-size: 1em;
}
[role="titlepage"] .tp-title,
.titlepage .tp-title {
	font-size: 1.618em;
}
[role="titlepage"] .tp-subtitle,
.titlepage .tp-subtitle {
	font-size: 1.4em;
}
[role="titlepage"] .tp-contributor,
.titlepage .tp-contributor {
	font-size: 1em;
}
[role="titlepage"] .tp-publisher,
.titlepage .tp-publisher {
	font-size: 1em;
	line-height: 1.2em;
}

[role="titlepage"] .tp-author,
.titlepage .tp-author {
	margin: 1em auto 1.5em;
}
[role="titlepage"] .tp-title,
.titlepage .tp-title {
	margin: 1em auto .5em
}
[role="titlepage"] .tp-subtitle,
.titlepage .tp-subtitle {
	margin: .5em auto 4em;
}
[role="titlepage"] .tp-contributor,
.titlepage .tp-contributor {
	margin: .5em auto;
}
[role="titlepage"] .tp-publisher,
.titlepage .tp-publisher {
	margin-top:2.00em;
	padding:1.27em 0 0 0;
}

/* Copyright */

[role="copyright"],
.copyright {
	font-size: 0.85em;
}
[role="copyright"] div,
.copyright div {
	margin-top:    2em;
	margin-bottom: 2em;
}
[role="copyright"] div p,
.copyright div p {
	margin: 0;
	text-indent: 0;
}

/* Dedication */

[role="dedication"],
.dedication {
	text-align: right;
}

/* Colophon */

[role="colophon"],
.colophon {
	text-align: center;
	font-size: 0.75em;
	width: 50%;
	margin-top: 3em;
	margin-left:auto;
	margin-right:auto;
}

