@import url(fonts.css);
@import url(read/typography.css);
@import url(read/lists.css);
@import url(read/figures.css);
@import url(read/tables.css);
@import url(read/notes.css);
@import url(read/quotes.css);
@import url(read/frames.css);


section > section {
	margin-top: 2.8rem;
}

.section > .section {
	margin-top: 2.8rem;
}

body {
	margin: 0;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	padding: 1.3em;
	overflow: hidden;
}

a[rel=bookmark] {
	position: absolute;
	left: 3px;
	padding-top: 5px;
	width: 18px;
	height: 18px;
	content: '';
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%20%3Cpath%20d%3D%22M3%200v16l5-5%205%205v-16z%22%20fill%3D%22%23000000%22%20%2F%3E%3C%2Fsvg%3E');
	background-position: center center;
	background-repeat: no-repeat;
}
a[rel="endnote"],
a[rel="footnote"] {
	text-decoration: none;
	font-size: 0.8rem;
	margin-right: 0.1em;
	vertical-align: super;
}
