
/********* FIGURES *********/
/* TODO: <label> */

figure {
	margin: 2em 0 2em 0;
}

figure figcaption {
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
}

figure footer {
	margin-top: 0.5rem;
}

figure[role="table"] {
	width: 100%;
	overflow-x: hidden;
}

img {
	width: 100%;
}

/* epub2 additions */

.figure {
	margin: 2em 0 2em 0;
}

.figure .figcaption {
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
}

.figure .footer {
	margin-top: 0.5rem;
}

.figure.table {
	width: 100%;
	overflow-x: hidden;
}
