/********* FRAMES *********/

/* frames are aside elements */

aside {
	background-color: #e1e1e1;
	border: 1px solid #aaa;
	margin: 2em 0 2em 0;
	padding: 0 1rem 1rem 1rem;
	position: relative;
	word-wrap: break-word;
}

aside > header {
	background-color: #333;
	color: #ffffff;
	padding: 0.5rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: -1px;
}

aside h1 {
	font-size: 1.5rem;
}

aside header + h1,
aside header + p,
aside header + ol,
aside header + ul,
aside header + figure {
	margin-top: 3rem;
}

aside p:last-child {
	margin-bottom: 0;
}

aside footer {
	font-size: 0.9rem;
}

/* epub2 additions */

.aside {
	background-color: #e1e1e1;
	border: 1px solid #aaa;
	margin: 2em 0 2em 0;
	padding: 0 1rem 1rem 1rem;
	position: relative;
	word-wrap: break-word;
}

.aside > .header {
	background-color: #333;
	color: #ffffff;
	padding: 0.5rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: -1px;
}

.aside h1 {
	font-size: 1.5rem;
}

.aside .header + h1,
.aside .header + p,
.aside .header + ol,
.aside .header + ul,
.aside .header + .figure {
	margin-top: 3rem;
}

.aside p:last-child {
	margin-bottom: 0;
}

.aside .footer {
	font-size: 0.9rem;
}
