/********* LISTS ***********/

ol.greek,
ol.gr {
	list-style: lower-greek;
}
ol.GREEK,
ol.GR {
	list-style: upper-greek;
}
ol.roman,
ol.ro {
	list-style: lower-roman;
}
ol.ROMAN,
ol.RO {
	list-style: upper-roman;
}
ol.latin {
	list-style: lower-latin;
}
ol.LATIN {
	list-style: upper-latin;
}

ul.arrow,
ul.dash,
ul.check,
ul.diamond,
ul.exc {
  list-style: none;
  padding-left: 2em;
}
ul.unstyled {
	list-style: none;
}
ul.square {
  list-style: square;
}
ul.arrow li {
  padding-left: 1em;
  text-indent: -1.5em;
}
ul.arrow li:before {
  content: "\25B6 \0020";
  margin-right: 0.5em;
  font-size: 0.8571rem;
}
ul.dash li {
  padding-left: 1em;
  text-indent: -1.2em;
}
ul.dash li:before {
  content: "\2013 \0020";
  margin-right: 0.5em;
  font-size: 0.8571rem;
}
ul.check li {
  padding-left: 1em;
  text-indent: -1.5em;
}
ul.check li:before {
  content: "\2714 \0020";
  margin-right: 0.5em;
  font-size: 0.8571rem;
}
ul.diamond li {
  padding-left: 1em;
  text-indent: -1.5em;
}
ul.diamond li:before {
  content: "\2666 \0020";
  margin-right: 0.5em;
  font-size: 0.8571rem;
}
ul.exc li {
  padding-left: 1em;
  text-indent: -1.5em;
}
ul.exc li:before {
  content: "\0021 \0020";
  margin-right: 0.5em;
  font-size: 0.8571rem;
}

