aside[role="endnote"],
p[role="endnote"] {
	display: none;
}

aside[role="footnote"],
p[role="endnote"] {
	display: none;
}

/* epub2 additions */

.aside.endnote,
p.endnote {
	display: none;
}

.aside.footnote,
p.endnote {
	display: none;
}
