blockquote {
	background: #f9f9f9;
	border-left: 8px solid #ccc;
	margin: 1.5rem 10px;
	padding: 0.5rem 10px;
}
blockquote p.source,
blockquote p.sources {
	color: #999999;
	display: block;
	margin-top: 0.3rem;
}
blockquote p {
	text-indent: 0;
}
blockquote p:last-child {
	margin-bottom: 0;
}

/* epub2 additions */

.blockquote {
	background: #f9f9f9;
	border-left: 8px solid #ccc;
	margin: 1.5rem 10px;
	padding: 0.5rem 10px;
}
.blockquote p.source,
.blockquote p.sources {
	color: #999999;
	display: block;
	margin-top: 0.3rem;
}
.blockquote p {
	text-indent: 0;
}
.blockquote p:last-child {
	margin-bottom: 0;
}
