
/****** TABLES (pure.css) *******/

.table-wrapper {
    overflow-x: auto;
}
table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
 
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 6px 12px; /* cell padding */

    text-align: center;
}
table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

th.center,
td.center {
	text-align: center;
}
th.left,
td.left {
	text-align: left;
}
th.right,
td.right {
	text-align: right;
}
td.top {
    vertical-align: top;
}
th.bottom,
td.bottom {
    vertical-align: bottom;
}
td.hi {
	background-color: #e1e1e1;
}