/****** BASIC TYPOGRAPHY (typeplate.css) *******/
html {
	font-family: 'RobotoSlab';
	font-size: 18px;
	font-weight: normal;
	/*font: normal 18px RobotoSlab, sans-serif; */ /* base font size 18px with 1.65 line-height */
	color: #2e2e2e;
}

.MathJax {
	font-size: 16px;
}
.MathJax_Display {
	overflow-x: auto;
	padding: .5em 0;
}
.Mathjax {
	display: inline-block;
	max-width: 100%;
	overflow: auto;
}

small {
	font-size: 65%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1;
	margin-top: 0;
	text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
	color: #222222;
}

section h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
	/*
	 * measure( base font-size(pixels) * base line-height(1.25) ) / current font-size(pixels) = margin-bottom
	*/
}
section h2,
section > section h1 {
	font-size: 1.75rem; /* 24.5px */
	margin-bottom: 0.71428rem; /* 17.5 / 24.5 = 0.71428 */
}
section h3,
section > section h2,
section > section > section h1 {
	font-size: 1.5rem; /* 21px */
	margin-bottom: 0.83333rem;
}
section h4,
section > section h3,
section > section > section h2 {
	font-size: 1.25rem; /* 17.5px */
	margin-bottom: 1rem;
}
section h5,
section > section h4
section > section > section h3 {
	font-size: 1.1667rem; /* 16.3338px */
	margin-bottom: 1.0714rem;
}

section > section h5,
section > section > section h4 {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

section > section > section h5 {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

p {
	margin: auto auto 1.5em; /* bottom margin for paragraphs */
	line-height: 1.65;
}

ol, ul {
	line-height: 1.65;
}

.no-indent {
	text-indent: 0;
}

strong,
b {
	font-weight: bold;
}

.bold-italics {
	font-weight: bold;
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

p.center {
	text-align: center;
}
p.left {
	text-align: left;
}
p.right {
	text-align: right;
}

p.center + p,
p.left + p,
p.right + p {
	text-indent: 0;
}

var {
	font-style: italic;
	font-size: 16px;
	font-family: STIXMathJax_Main;
}

h1 var {
	font-size: 18px;
}

abbr {
	font-style: italic;
	line-height: 0;
}

.qt:before {
    content: "«";
}

.qt:after {
    content: "»";
}

/* TODO: different equation alignements if needed */
.display-math {
	text-align: center;
}

dfn {
	font-style: normal;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 192dpi) {
	html {
		font-size: 18px;
	}
}
/* iPhone 2G, 3G, 4, 4S Media Queries */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	html {
		font-size: 14px;
	}
	var {
		font-size: 14px;
	}
	h1 var {
		font-size: 16px;
	}
}

/* epub2 additions */

.section h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
	/*
	 * measure( base font-size(pixels) * base line-height(1.25) ) / current font-size(pixels) = margin-bottom
	*/
}
.section h2,
.section > .section h1 {
	font-size: 1.75rem; /* 24.5px */
	margin-bottom: 0.71428rem; /* 17.5 / 24.5 = 0.71428 */
}
.section h3,
.section > .section h2,
.section > .section > .section h1 {
	font-size: 1.5rem; /* 21px */
	margin-bottom: 0.83333rem;
}
.section h4,
.section > .section h3,
.section > .section > .section h2 {
	font-size: 1.25rem; /* 17.5px */
	margin-bottom: 1rem;
}
.section h5,
.section > .section h4
.section > .section > .section h3 {
	font-size: 1.1667rem; /* 16.3338px */
	margin-bottom: 1.0714rem;
}

.section > .section h5,
.section > .section > .section h4 {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

.section > .section > .section h5 {
	font-size: 1rem;
	margin-bottom: 1.25rem;
}

